In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('data.csv')

In [3]:
df.head()

   fever  bodyPain  age  runnyNose  diffBreath  infectionProb
0     98         0   83          0          -1              1
1     98         1   61          0          -1              1
2    104         1   45          0           1              1
3    100         0    2          1           1              1
4     98         0   78          0           0              0

In [4]:
df.tail()

    fever  bodyPain  age  runnyNose  diffBreath  infectionProb
95    104         1   41          0          -1              1
96    103         1   89          0          -1              0
97    104         1   58          1           0              1
98     98         0   77          1           0              0
99    100         1   69          0           1              0

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   fever          100 non-null    int64
 1   bodyPain       100 non-null    int64
 2   age            100 non-null    int64
 3   runnyNose      100 non-null    int64
 4   diffBreath     100 non-null    int64
 5   infectionProb  100 non-null    int64
dtypes: int64(6)
memory usage: 4.8 KB